html {
	font-size: 62.5%; /* http://snook.ca/archives/html_and_css/font-size-with-rem */
	width: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-size: 1.6rem; /* = 16px when html font-size: 62.5% */
	color: #062F4F; /* INK */
	background-color: #F7F5E6; /* FRESH */
	width: 100%;
}

/* form elements do not inherit font so we explicity apply */
body,
input,
textarea,
button {
	font-family: "Merriweather Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;/* SANS-SERIF */ /*see also font section*/
}

/* border-box */
html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }

/* Medium Sized Displays, change the font size so it's not so large */
/*@media screen and (max-width: 900px) { html { font-size: 58%; } }*/

/* everything starts at 100% on load, then gets resized to screen format */
header, 
footer, 
section, 
nav, 
aside, 
div {
	width: 100%;
}