html {
	font-size: 62.5%; /* http://snook.ca/archives/html_and_css/font-size-with-rem */
	/* at 62.5% 1.6rem is 16px, 1.2rem is 12px. Easy to calc relative to px */
	width: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-size: 1.6rem; /* = 16px when html font-size: 62.5% */
	width: 100%;
}

input,
textarea,
button {
	font-family: sans-serif;
}

/* border-box */
html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }

/* Medium Sized Displays, change the font size so it's not so large */
/*@media screen and (max-width: 900px) { html { font-size: 58%; } }*/

/* everything starts at 100% on load, then gets resized to screen format */
header, 
footer, 
section, 
nav, 
aside, 
div {
	width: 100%;
}

/* Optional:
   Give the content within the body a max width and center it
   Add header, footer, or anything that is a direct child of body
   Don't add header or footer if you want to keep them full width. 
   Instead of > div you may want to use > section */
body > div {
	padding-right: 1.0rem;
	padding-left: 1.0rem;
	max-width: 80.0rem;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 1.0rem;
}
